<table class="table">
        <thead class="thead-dark">
          <tr>
                <th scope="col">#</th>
                <th scope="col">Source</th>
                <th scope="col">Stop</th>
                <th scope="col">Destination</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Layover Time</th>
                <th scope="col">Price</th>
                <th scope="col">TimeOfTravel</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            
          </tr>
        </tbody>
      </table>
      
      <!-- <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Source</th>
            <th scope="col">Stop</th>
            <th scope="col">Destination</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Layover Time</th>
            <th scope="col">Price</th>
            <th scope="col">TimeOfTravel</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            
          </tr>
        </tbody>
      </table> -->
